.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__sale {
  position: absolute;
  @include text__gray;
  top: 0;
  right: 0;
  background-color: $white;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 7px;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  }
}
.cart__img {
  max-width: 315px;
  height: 315px;
}

.cart__info {
  width: 90%;
}

.cart__img-wrap {
  position: relative;
}

.cart__price-wrap {
  display: flex;
}

.cart__price {
  @include text__black;
  margin-right: 14px;
  cursor: default;
}
.cart__price-sale {
  @include text__gray;
  text-decoration: line-through;
  opacity: 0.3;
  transition: all 0.3s ease;
  cursor: default;
  &:hover {
    opacity: 1;
  }
}
.cart__title {
  margin-top: 10px;
  @include text__black;
  width: 70%;
  margin-bottom: 15px;
}
